table,
td,
th {
  border-collapse: collapse; /*Cellák közti rések eltüntetése*/
}

table,
th {
  padding: 5px 5px 5px 5px;
}

table {
  width: 80%;
  margin: auto;
  text-align: center;
}

table th {
  word-wrap: break-word;
}

.kutyastablazat {
  width: 100%;
  overflow-x: scroll;
}

tr:nth-child(even) {
  /*N-edik sor színezése*/
  background-color: lightgray;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
